{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "env": {
        "es6": true
    },
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "max-len": [
            "error",
            { "code": 100 }
        ],
        "indent": [
            "error",
            "tab"
        ]
    }
}
